.todoSummary {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  width: 500px;
}

.completedElement {
  cursor: pointer;
}

.todoFilterbox {
  width: 170px;
  display: flex;
  justify-content: space-between;

  & .selected {
    color: $green;
  }

  & span {
    cursor: pointer;
  }
}
