$beige: #f5f5f5; // used in background
$pink: #ebdddc; // used in header text
$light-beige: #fefefe; // used in subtitle header
$divider-beige: #eeeeee; // used in divider + subtitle text
$black: #555555; // used in active todo text
$green: #77c0af; // used in check mark
$grey: #dddddd; // used in completed todo
